.ul-katakana {
    list-style-type: katakana;
    /* list-style-position: inside; */
}
.ul-lower-latin
{
    list-style-type: lower-latin;
}
#answer-area, #explain-area {
    display: none;
}
.foreign-key-line {
    text-decoration: underline dashed;
}
table,
table th,
table td {
    border: 1px solid black;
    border-collapse: collapse;
}